.maindiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maindiv .heading h1 {
  font-weight: bold;
  margin: 50px;
  text-align: center;
}

.para {
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: xx-large;
  font-weight: 600;
  text-align: center;
  color: blueviolet;
}

.dt {
  font-size: x-large;
  font-weight: 400;
  text-align: center;
  color: green;
}

.dt strong {
  font-size: x-large;
  font-weight: 600;
  text-align: center;
  color: black;
}
