.mycontainer {
  display: flex;
  /* background-color: aqua; */
}

.mycontent {
  width: 100%;
}

.mysidebar {
  min-height: 100vh;
}

.mypostcard {
  margin: 30px;
  width: 30rem;
}

.mytags {
  margin-right: 5px;
}

.myreaction {
  margin-top: 30px;
  width: 100%;
  background-color: rgb(54, 245, 54);
  color: black;
}

.post {
  /* background-color: rebeccapurple; */
  display: inline-block;
  margin: 50px 0 50px 50px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 15px;
  min-width: 60%;
  min-height: 60%;
}

.newpostheading {
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
}

.titalheading {
  margin-left: 0px;
}

.postbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  text-align: center;
  /* background-color: green; */
  width: 15%;
  margin: 7% 0 1% 40%;
}

.myinput {
  border: 2px solid black;
}

.welcome {
  margin: 20% 0 15% 0;
}
